:root {
    --darkgray: #212f3c;
    --brightblue: #2e86c1;
    --white: #fff;
    --darkblue: #154360;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    background-color: var(--darkgray);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
}

.main-content {
    color: white;
    justify-self: auto;
    margin-left: 20px;
    width: 80%;
    align-items: center;
}

p {
    padding: 20px 0;
    font-size: 18px;
}

#main-img {
    width: 60%;
    height: 60%;
}

.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
    font-size: 20px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightblue);
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: var(--brightblue);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightblue);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

.row-container{
    padding:20px;
    margin: 100px auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.art-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.box {
    width:250px;
    margin:0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0, 0);
    transition:1s;
}
.box img{
    display:block;
    width:100%;
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.3);
    z-index:2;
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--darkgray);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--brightblue);
        color: white;
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: white;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightblue);
        color: white;
        transition: all 0.4s ease-out;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .row-container{
        padding:20px;
        margin: 20px auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .art-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    
    .box {
        width:250px;
        margin:10px 10px;
        box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
        transition:1s;
    }
    .box img{
        display:block;
        width:100%;
        border-radius: 5px;
    }
    .box:hover{
        transform:scale(1.3);
        z-index:2;
    }
}
